@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<SearchComponent SearchWord="@st"></SearchComponent>

@code{
    string st = "asdf asdfasdfasdf löjk asdf asdf asdf asdfasdf asdfasdff";
}