@page "/counter"
@inherits SearchComponent

<div class="bg-@(IsSearchAfter ? "success" : "white")">
    <h1>Counter</h1>

    <p>Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    protected override void OnInitialized()
    {
        Tags = new string[] { "Number", "Counter", "Increment" };
    }
}
